useDynLib(QTL.gCIMapping.GUI, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("shiny","MASS","qtl")
importFrom("stats","optim","pchisq","var","na.omit")
importFrom("utils","read.csv","write.table","RShowDoc")
importFrom("methods","new")
importFrom("stringr","str_extract_all")
importFrom("openxlsx","read.xlsx","createWorkbook","addWorksheet","writeData","saveWorkbook")
importFrom("graphics","plot","abline")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("graphics","axis", "mtext", "par")
importFrom("stats", "median", "qchisq", "uniroot")
importFrom("stats","cor.test")
importFrom("stats", "AIC", "lm", "p.adjust")
importFrom("stats", "cor")
importFrom("data.table", "fread")
importFrom("parcor", "adalasso")
importFrom("parallel", "detectCores","makeCluster","stopCluster")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","%dopar%","%do%","foreach")
importFrom("QTL.gCIMapping","QTL.gCIMapping")
export("QTL.gCIMapping.GUI")
export("WangF")
export("WenF")
export("WangS")
export("WenS")

